body,
table {
	font-family: 'GentiumAlt';
	text-align: center;
	font-size: 120%;
	margin: 0 auto;
}

#input,
#output {
	font-family: 'Monaco';
	font-size: 50%;
	height: 500px;
	width: 300px;
}

h3,
h4 {
	font-weight: normal;
}
